.app_dark_theme {
  --bg-color: #2b2d31;
  --inverted-bg-color: #dff3f3;
  --primary-color: #06a69c;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0225f5;
  --inverted-secondary-color: #3e6fbe;

  // skeleton
  --skeleton--color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #0d0d6b;
}
