.app.light {
  --bg-color: #dff3f3;
  --inverted-bg-color: #2b2d31;
  --primary-color: #236aa9;
  --secondary-color: #0f2950;
  --inverted-primary-color: #049684;
  --inverted-secondary-color: #04ff04;
}
